.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 20%;
  width: 20%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @media screen and (max-width: 800px){
.img-poster{
  display: flex;
  align-items:center;
  height: auto;
  max-width: 10%;
}
} */

.App-header {
  background-color: #282c34;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-poster {
  display: flex;
  align-items:center;
  height: 10%;
  width: 10%;
}

.movieSpace {
  padding: 5px;
  offset: 5px;
}

.header-link {
  color: #ffffff;
}

select {
  padding: 2.5px
}
button {
  color: white;
  background-color: #3f4552;
  border: 1px solid white;
  margin-bottom: 10px;
}

.displayListItem {
  margin-bottom: 20px;
}

.aboutPage {
  text-align: center
}